{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/img.css' %}">
<legend class="border-bottom mb-4">Мой профиль</legend>
    <div class="container text-center">
        <div class="row row-cols-auto">
            <div class=".col-6 .col-md-4">
                <img class="account-img" src="{{ user.profile.image.url }}">
            </div>
            <div class=".col-md-8">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <p>Книги</p>
                <p>Рецензии</p>
                <p>Избранное</p>
            </div>
        </div>
    </div>
{% endblock content %}
